@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	background-color: #222;
	color: #eee;
	font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}
